{{!--
    Global Template: Chat-bot auto open SDO

    This global template opens the salesforce chat window without user interaction.
    It can be used in campaigns with rules that check eligibility for auto opening
    the chat window, like having visited the FAQ more than twice today.

    Requirements:
    1) You need to run this template in a website page running 
    Salesforce chat or chat-bot as an embedded service. It can be
    tested in our own site salesforce.com.


    Setup:
    none
--}}

